blinker==1.8.2
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==2.1.5
numpy==2.1.1
pexpect==4.9.0
pillow==10.4.0
ptyprocess==0.7.0
pycairo==1.27.0
PyGObject==3.48.2
ruff==0.6.4
six==1.16.0
Werkzeug==3.0.6
xdotool==0.4.0
xlib==0.21
yad==0.9.14